@using Microsoft.AspNetCore.Http
@using JiraMigrate.Utilities;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userActions = (List<ViewModel.UserActions>)HttpContextAccessor.HttpContext.Session.GetObject<object>("Actions");
}
<div class="container">
    <div class="col-lg-2">
        @{Html.RenderPartial("PartialSideBar", userActions);}
    </div>
    @*<div class="col-lg-4">
            @RenderSection("AddTaskForm", false)
        </div>*@
    <div class="col-lg-10">
        @RenderSection("Grid", false)
    </div>
</div>
@section scripts{
    @RenderSection("scripts", false)
}
