@using Microsoft.AspNetCore.Http
@using JiraMigrate.Utilities;
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userActions = HttpContextAccessor.HttpContext.Session.GetObject<IEnumerable<ViewModel.UserActions>>("Actions");
}

    <div class="col-2">
        @{Html.RenderPartial("PartialSideBar", userActions);}
    </div>
    @*<div class="col-4">
            @RenderSection("AddTaskForm", false)
        </div>*@
    <div class="col-10">
        @RenderSection("Grid", false)
    </div>

@section scripts{
    @RenderSection("scripts", false)
}
