@model List<ViewModel.UserActions>
<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h2>TMS</h2>
        </div>

        @*<ul class="list-unstyled components">
            <li class="active">*@
                <ul>
                    <li>
                        <a>@Html.ActionLink("Home", "ShowHomePage", "Home")</a>
                    </li>
                    @foreach (var item in Model)
                    {
                        if (item.ShowInSideBar == true)
                        {
                            <li>
                                <a>@Html.ActionLink(item.DisplayName.Trim(), item.ActionName.Trim(), item.ControllerName.Trim())</a>
                            </li>
                        }
                    }

                    <li>
                        <a>@Html.ActionLink("Log Out", "Logout", "Authentication")</a>
                    </li>
                </ul>
            @*</li>

        </ul>*@
    </nav>

</div>