@model List<ViewModel.SprintListViewModel>
@{
    ViewBag.Title = "SprintListView";
    Layout = "~/Views/Shared/_AuthorizedLayout.cshtml";

}
@section Grid{

    <div> <h1 style="font-weight:bold;text-align:center">Sprint List</h1></div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <div class="text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sprints Name</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SprintName</td>
                    </tr>



                }

            </tbody>

        </table>


    </div>



    <div>
        <button style="float:right;margin-right:100px;">@Html.ActionLink("Create label", "AddLable", "Home")</button>
        @*<a href="@Url.Action("/home/AddLableList")" class="btn btn-default" style="float: left">  Add </a>*@
    </div>





}

@section scripts{
    <script>


    </script>
}