
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Unathorized Action</h1>
<a>@Html.ActionLink("Go To Home Page", "ShowHomePage", "Home")</a><br>
<a>@Html.ActionLink("Logout", "Logout", "Authentication")</a>